* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  outline: 0;
  user-select: none;
}

.container {
  background: gold;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
}

.score,
span {
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 5px 6px 7px black;
  text-align: center;
  width: 100%;
  color: white;
  background-color: firebrick;
  height: 20%;
}

.coockie-container {
  height: 400px;
  
  filter: drop-shadow(30px 10px 4px black);
  display: flex;
  justify-content: center;
  align-items: center;

}

img {
  width: 60%;
  cursor: pointer;
  animation: rotate 20s linear infinite;
  justify-content: center;
  align-items: center;
}
.hidden {
  visibility: hidden;
}
.space{
    display: flex;
    flex-direction: row;

}
button{
    margin: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
